<head>
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  {% if page.noindex %}<meta name="robots" content="noindex">{% endif %}
  <!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/images/favicon/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "assets/images/favicon/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/images/favicon/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "assets/images/favicon/site.webmanifest" | relative_url }}">
  <link rel="shortcut icon" href="{{ "assets/images/favicon/favicon.ico" | relative_url }}">
</head>
