<script src="{{ "assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/jquery.scrolly.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/jquery.scrollex.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/skel.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/util.js" | relative_url }}"></script>
<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | relative_url }}"></script><![endif]-->
<script src="{{ "assets/js/main.js" | relative_url }}"></script>
<script src="{{ "assets/js/multi-animated-counter.js" | relative_url }}"></script>
<script src="https://kit.fontawesome.com/de4005b541.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v15.0&appId=804877313913010&autoLogAppEvents=1" nonce="xdSNQHE3"></script>
