#calendario {
  h1 {
    .icon {
      font-size: 40%;
    }
  }

  h5 {
    margin: -12px 0 0;
  }
}

.pdf-embed {
  width: 50%;
  height: 500px;

  @include breakpoint(medium) {
    width: 100%;
  }

  @include breakpoint(xsmall) {
    height: 300px;
  }
}
