<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <section id="banner" class="major">
      <div class="inner">
        <header class="major">
          <h1>Società Ciclistica Dilettantistica Fanese</h1>
        </header>
        <div class="content">
          <p style="text-transform: uppercase;">
            Non è importante dove arriverai alla fine della corsa.<br>
            È importante cosa provi mentre corri.
          </p>
          <ul class="actions">
            <li><a href="chi-siamo.html" class="button next">Chi siamo</a></li>
          </ul>
        </div>
      </div>
    </section>
    <div id="main">
      {% include tiles.html %}
    </div>
    {% include footer.html %}
  </body>
</html>
